---
import { ProfileForm } from "@/components/Form";
import Layout from "@/layouts/layout.astro";
---

<Layout title="Home">
  <section class="flex flex-col gap-5">
    <h1
      class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl text-center"
    >
      Calculation
    </h1>
     <ProfileForm client:load/>
  </section>
</Layout>
